.chef-content{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 5rem;
}
.chef-quote{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.chef-quote img{
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.chef-sign{
    width: 100%;
    margin-top: 3rem;
}

.chef-sign img{
    width: 250px;
    margin-top: 1rem;
}

.chef-sign p:first-child{
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 33px;
    line-height: 41px;
    letter-spacing: .04em;
    text-transform: capitalize;
    color: var(--color-golden );
}

@media screen and (max-width: 2000px){
    .chef-sign img{
        width: 370px;
    }    
}

@media screen and (max-width: 450px){
    .chef-sign img{
        width: 80%;
    }   
}