.gallery{
    display: flex;
    flex-direction: row;

    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
}

.gallery-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    min-width: 500px;
    padding-right: 2rem;
}

.gallery-img{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}

.img-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.img-container::-webkit-scrollbar{
    display: none;
}

.img-card{
    position: relative;
    min-width: 300px;
    height: 447px;
    margin-left: 1rem;
}

.img-ig{
    position: absolute;
    color: white;
    font-size: 2rem;
    opacity: .5;
    transition: ease;
    cursor: pointer;
}

.img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
}

.img-card:hover img{
    opacity: .35;
}
.img-card:hover .img-ig{
   transform: scale(1.1);
    opacity: 1; 
}

.img_arrow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    position: absolute;
    bottom: 2rem;
    /* align-self: center; */
}

.arrow-icon{
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 5px;
}

.arrow-icon:hover{
    color: var(--color-white);
}
.gallery_info {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

@media screen and (min-width:2000px){
    .gallery-content{
        min-width: 1000px;
        padding-right: 4rem;
    }
    .img-card{
        min-width: 400px;
        height: 550px;
    }
}
@media screen and (max-width:1150px){
   .gallery{
    flex-direction: column;
   }
   .gallery-img{
    max-width: 100%;
    margin: 5rem 0;
   }
}
@media screen and (max-width:850px){
    .gallery{
        padding: 4rem 0 4rem 4rem;
    }
}
@media screen and (max-width:650px){
    .gallery{
        padding: 4rem 0 4rem 2rem;
    }
    .gallery-content{
        min-width: 100%;
    }
    .img-card{
        min-width: 240px;
        height: 320px;
    }
}