.header{
    background-color: var(--color-black);
}

.header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: .04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.header-img img{
    width: 80%;
}